@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <h1>Welcome to the Product Selling App</h1>
    <p class="lead">Browse our selection of products and add them to your cart.</p>
    <p><a class="btn btn-primary btn-lg" asp-controller="Product" asp-action="Index">Shop Now</a></p>
</div>